<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cerner.yambaservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <permission
        android:name="com.cerner.permission.YAMBA_SERVICE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.cerner.yambaservice.PrefsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cerner.yamba.PREFS_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".YambaService"
            android:permission="com.cerner.permission.YAMBA_SERVICE" >
            <intent-filter>
                <action android:name="com.cerner.yamba.SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>